{
    "logger": {
        "level": "info"
    },
    "port": 3030,
    "session": {
        "secret": "changeme: e.g. openssl rand -base64 36"
    },
    "sfu": {
        "basedir": null,
        "url": "http://localhost:8443",
        "admin": {
            "username": "",
            "password": ""
        }
    }
}