{
    "endpoints": {
        "galene": {
            "url": "http://localhost:8443",
            "admin": {
                "username": "galene-admin-username",
                "password": "galene-admin-password"
            }
        }
    },
    "logger": {
        "level": "info"
    },
    "port": 3030,
    "session": {
        "secret": "changeme: e.g. openssl rand -base64 36"
    }
}