.content {
    background: var(--grey-3);
    display: flex;
    flex-direction: column;
    max-width: 600px;

    header {
        align-items: center;
        background: var(--grey-2);
        border-bottom: 2px solid var(--grey-4);
        color: var(--primary-color);
        display: flex;
        font-family: var(--font-secondary);
        font-weight: 600;
        height: var(--space-4);
        justify-content: space-between;
        padding: var(--space-1);
        padding-right: calc(var(--spacer) * 1.5);
        text-transform: uppercase;

        .title {
            align-items: center;
            display: flex;


            span {
                padding-right: calc(var(--spacer) * 2.5);
            }

            svg {
                color: var(--primary-color);
            }
        }
    }

    section {
        height: calc(100vh - var(--space-4));
        overflow-y: scroll;
        padding: var(--space-1);

        &.no-results {
            align-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            font-family: var(--font-secondary);
            font-size: var(--text-huge);
            padding: var(--space-2);

            svg {
                color: var(--grey-4);
            }

            span {
                color: var(--grey-5);
            }
        }
    }

    .panels {
        display: flex;
        flex: 1;

        section {
            flex: 1;
        }

        .actions {
            background: var(--grey-2);
        }
    }
}
