.context-menu {
    display: flex;
    flex-direction: column;
    position: relative;

    &.active {

        button > svg,
        > svg {
            color: var(--primary-color);
        }
    }

    > .icon {
        align-self: center;
        margin: var(--spacer);
        transition: all 0.25s ease-in;

        &:hover {
            color: var(--primary-color);
            cursor: pointer;
        }
    }

    .actions {
        background: var(--grey-2);
        border: 1px solid var(--grey-4);
        box-shadow: var(--shadow);
        display: flex;
        flex-direction: column;
        left: 50%;
        margin-left: var(--space-2);
        position: absolute;
        z-index: 10000;

        .field {
            padding: 0;
        }


        .action {
            align-items: center;
            background: none;
            color: var(--grey-8);
            display: flex;
            font-family: var(--font-secondary);
            font-size: var(--text-s);
            margin: 0;
            padding: calc(var(--spacer) / 2) 0;
            text-align: left;
            user-select: none;
            width: 200px;


            svg {
                color: var(--primary-color);
                margin: var(--spacer);
            }

            &:hover {
                background: var(--grey-4);
                cursor: pointer;
            }

            &[disabled] {
                color: var(--grey-4);

                &:hover {
                    background: none;
                    cursor: not-allowed;
                }

                & svg {
                    color: var(--grey-4);
                }
            }
        }
    }
}
