.field {
    padding: var(--spacer) 0;

    label,
    .field-label {
        color: var(--grey-9);
    }

    .help {
        color: var(--grey-6);
        font-size: var(--text-small);
        font-style: italic;
    }
}

.no-options-warning {
    background: var(--grey-2);
    border: 2px dashed var(--grey-5);
    font-size: var(--text-small);
    padding: var(--spacer);

    .explanation {
        margin-top: var(--spacer);
    }
}

.env-warning {
    color: var(--warning-color);
    font-size: var(--text-small);
    margin-top: var(--spacer);
}
