.presence {
    display: flex;
    flex-direction: column;

    .no-presence {

        .icon,
        .name {
            color: var(--grey-5);
        }
    }


    .actions {
        display: flex;


        .btn {
            cursor: pointer;
            margin: 0;
            padding: 0;

            &:disabled {
                cursor: not-allowed;
            }
        }
    }

    .item {
        align-items: center;
        color: var(--grey-7);
        display: flex;
        padding: calc(var(--spacer) / 2) var(--spacer);

        &.active {
            color: var(--primary-color);
        }

        .item-icon {
            align-items: center;
            display: flex;
            margin-right: var(--spacer);

            &.delete,
            &.unsaved {
                color: var(--grey-6);
            }
        }

        .name {
            align-items: center;
            display: flex;
            flex: 1;
            font-family: var(--font-secondary);
            font-weight: 600;
            line-height: 100%;
        }

        .item-properties {
            display: flex;
            margin-top: var(--space-05);
        }
    }
}
