.nav-fixed {

    .topnav {
        z-index: 1039;
    }
}

.fixed-top{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
}

.topnav {
    height: 3.5rem;
    padding-left: 0;
    z-index: 1039;
}

.navbar .form-control, .topnav {
    font-size: 1rem;
}

.form-control {
    background-clip: padding-box;
    background-color: #FFF;
    border: 1px solid #CED4DA;
    border-radius: .25rem;
    color: #495057;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-inline {
    display: inline-block;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(31,45,65,.15);
}

.bg-white {
    background-color: #FFF;
}

.bg-gray {
    background-color: #EEE;
}

.profile {
    width: 230px;
}

.profile-logo {
    background: #B681C3;
    border-radius: 25px;
    color: #F9F9F9;
    float: left;
    font-size: 1.4em;
    height: 50px;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.profile-info {
    color: #616263;
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    width: 120px;
}

.user-logout {
    float: right;
    text-align: center;
}

.logout-icon {
    display: block;
    font-size: 1.5em;
}

.logout-text {
    font-size: .7em;
}

.profile-info span {
    display: block;
    line-height: 1.2;
    text-transform: capitalize;
}

#permspan {
    color: #108E07;
    font-size: .9em;
    font-style: italic;
}

.sidenav .user-logout a {
    color: #E4157E;
    cursor: pointer;
    font-size: 1em;
    line-height: .7;
    padding: 7px 0 0;
}

.sidenav .user-logout a:hover {
    color: #AB0659;
}

.navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
    align-items: center;
    background: #610A86;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar {
    padding: .1rem;
    position: relative;
}

.topnav .navbar-brand {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 15rem;
}

.btn {
    border: 1px solid transparent;
    border-radius: .25rem;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.255rem .75rem;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn {
    transition-duration: 0.4s;

    &.btn-default {
        background-color: #6C757D;
        border-color: #6C757D;
        color: #FFF;
    }

}

.btn-default:hover {
    background-color: #545B62;
    border-color: #4E555B;
    color: #FFF;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-success {
    background-color: #28A745;
    border-color: #28A745;
    color: #FFF;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1E7E34;
    color: #FFF;
}

.btn-cancel {
    background-color: #DC3545;
    border-color: #DC3545;
    color: #FFF;
}

.btn-cancel:hover {
    background-color: #C82333;
    border-color: #BD2130;
    color: #FFF;
}

.btn-blue {
    background-color: #007BFF;
    border-color: #007BFF;
    color: #FFF;
}

.btn-blue:hover {
    background-color: #0069D9;
    border-color: #0062CC;
    color: #FFF;
}

.btn-warn {
    background-color: transparent;
    background-image: none;
    border-color: #FFC107;
    color: #FFC107;
}

.btn-warn:hover {
    background-color: #FFC107;
    border-color: #FFC107;
    color: #212529;
}

.btn-large {
    font-size: 110%;
}

.app {
    background-color: #F4F4F4;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.coln-left {
    flex: 30%;
    margin: 0;
    padding: 0;
}

.coln-left-hide {
    flex: 0;
}

.coln-right {
    flex: 70%;
    position: relative;
}

/* Clear floats after the columns */

.row {
    display: flex;
}

.full-height {
    height: calc(var(--vh, 1vh) * 100);
}

.full-width {
    height: calc(var(--vh, 1vh) * 100 - 56px);
    width: calc(100vw - 200px);
}

.full-width-active {
    width: 100vw;
}

.container {
    width: 100%;
}

.users-header {
    background: #610A86;
    font-size: .95rem;
    font-weight: 500;
    height: 3.5rem;
    padding: 10px;
}

.users-header:after, .profile-user:after, .users-header:before {
    content: " ";
    display: table;
}

.users-header:after, .profile-user:after {
    clear: both;
}

.reply {
    background-color: #EAE7E5;
    height: 53px;
    margin: 0;
    padding: 10px 5px 10px 5px;
    width: 100%;
    z-index: 1000;
}

.reply textarea {
    border: none;
    box-shadow: none;
    height: 100%;
    outline: none;
    overflow: hidden;
    padding: 5px;
    resize: none;
    text-indent: 5px;
    width: 100%;
}

textarea.form-reply {
    height: 2.1em;
    margin-right: .5em;
}

.form-reply {
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #555;
    display: block;
    font-size: 1rem;
    height: 34px;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%;
}

.form-reply::placeholder {
    opacity: .7;
}

.select {
    background-clip: padding-box;
    background-color: #FFF;
    border: 1px solid #CED4DA;
    border-radius: .25rem;
    color: #495057;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    padding: .275rem .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

.select-inline {
    display: inline-block;
}

.message {
    background: #DAF1C6;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(43, 43, 43, 0.16);
    display: inline-block;
    font-size: 12px;
    margin: 1em 0 0;
    max-width: 90%;
    padding: 4px 10px 7px !important;
    text-align: left;
    width: auto !important;
    word-wrap: break-word;
}

.message-sender {
    background: #E6E6E6;
}

.message-private {
    background: white;
}

.message-private .message-header:after {
    content: "(private)";
    margin-left: 1em;
}

.message-system {
    background: #ECECEC;
    font-size: 10px;
}

.message-row:after, .message-row:before {
    content: " ";
    display: table;
}

.message-row:after {
    clear: both;
}

.message-content {
    color: #202035;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

.message-header {
    font-style: italic;
    margin: 0;
    text-shadow: none;
}

.message-footer {
    line-height: .9;
    margin: 0;
    margin-bottom: -5px;
    padding: 0;
    text-align: right;
}

.message-time {
    margin-left: 1em;
}

.message-me-asterisk, .message-me-user {
    margin-right: 0.33em;
}

.video-container {
    background: rgba(0, 0, 0, 0.91);
    /* Display only when showing video */
    display: block;
    height: calc(var(--vh, 1vh) * 100 - 56px);
    position: relative;
}

.collapse-video {
    cursor: pointer;
    font-size: 1.8em;
    left: 10px;
    position: absolute;
    top: 10px;
    /*on top of video peers*/
    z-index: 1002;
}

.collapse-video .open-chat {
    color: #CAC7C7;
    height: 50px;
    padding: 10px;
    text-shadow: 0px 0px 1px #B3ADAD;
}

.no-video {
    display: none;
}

.video-controls, .top-video-controls {
    bottom: 25px;
    color: #EAEAEA;
    font-size: 1.1em;
    height: 32px;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.video-controls:after, .top-video-controls:after {
    clear: both;
    content: " ";
    display: table;
}

.top-video-controls {
    bottom: inherit;
    text-align: right;
    top: 5px;
}

.controls-button {
    height: 100%;
    padding: 3px 10px;
    vertical-align: middle;
}

.controls-left {
    float: left;
    text-align: left;
}

.controls-right {
    float: right;
    text-align: right;
}

.vc-overlay {
    background: linear-gradient(180deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 70%) 100%);
}

.peer:hover > .video-controls, .peer:hover > .top-video-controls {
    opacity: 1;
}

.video-controls span, .top-video-controls span {
    cursor: pointer;
    margin-right: 20px;
    opacity: 1;
    transition: opacity .7s ease-out;
}

.video-controls span:last-child {
    margin-right: 0;
}

.video-controls span:hover, .top-video-controls span:hover {
    opacity: .8;
    transition: opacity .5s ease-out;
}

.video-controls .volume {
    display: inline-block;
    text-align: center;
}

.video-controls .video-play {
    font-size: 0.85em;
}

.video-controls span.disabled, .video-controls span.disabled:hover, .top-video-controls span.disabled:hover{
    color: #C8C8C8;
    opacity: .2;
}

.volume-mute {
    display: var(--dv, inline);
    vertical-align: middle;
    width: 25px;
}

.volume-slider {
    cursor: pointer;
    height: 4px;
    margin: 5px 5px;
    opacity: var(--ov, 0);
    transition: opacity .5s ease-out;
    vertical-align: middle;
    width: 60px;
}

.video-controls .volume:hover {
    --ov: 1;
    --dv: inline;
}

.mobile-container {
    display: block !important;
}

.login-container {
    display: flex;
    height: calc(var(--vh, 1vh) * 100 - 56px);
    justify-content: center;
    position: relative;
}

.login-box {
    background: #FCFCFC;
    height: 23em;
    margin: 5em auto;
    padding: 1em;
    width: 20em;
}

.login-box .connect {
    text-align: center;
    width: 100%;
}

.login-box h2 {
    margin-bottom: 40px;
    text-align: center;
}

.label-fallback {
    opacity: 0.5;
}

.label {
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.nav-link {
    color: #DBD9D9;
    display: block;
    line-height: 1.1;
    margin: 0 10px;
    min-width: 30px;
    padding: 0;
    position: relative;
    text-align: center;
}

.nav-link span {
    display: block;
}

.nav-link label {
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 55%;
}

.nav-link:hover {
    color: #C2A4E0;
}

.nav-link label:hover {
    color: #C2A4E0;
}

.nav-cancel, .muted, .nav-cancel label, .muted label {
    color: #D03E3E;
}

.nav-cancel:hover, .muted:hover, .nav-cancel label:hover, .muted label:hover {
    color: #D03E3E;
}

.nav-button {
    cursor: pointer;
    font-size: 25px;
}

.nav-more {
    margin-left: 0;
    padding-top: 5px;
}

.header-title {
    color: #EBEBEB;
    float: left;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2em;
    margin: 0;
}

#title {
    text-align: center;
}

h1 {
    white-space: nowrap;
}

#statdiv {
    margin-bottom: 16px;
    white-space: nowrap;
}

#errspan {
    margin-left: 1em;
}

.connected {
    color: green;
}

.disconnected {
    color: red;
    font-weight: bold;
}

.userform {
    display: inline;
}

.userform label {
    display: inline-block;
    min-width: 3em;
    padding-top: 10px;
}

.userform input[type="text"], .userform input[type="password"] {
    width: 100%;
}

.switch-radio {
    margin: 0;
}

.invisible {
    display: none;
}

.error {
    color: red;
    font-weight: bold;
}

.noerror {
    display: none;
}

.clear {
    clear: both;
    content: "";
}

#optionsdiv {
    margin-bottom: 4px;
}

#optionsdiv input[type="checkbox"] {
    vertical-align: middle;
}

#presentbutton, #unpresentbutton {
    font-size: 1.1em;
    margin-right: 0.4em;
    margin-top: .1em;
    text-align: left;
    white-space: nowrap;
    width: 5.5em;
}

#videoselect {
    margin-right: 0.4em;
    text-align-last: center;
}

#audioselect {
    text-align-last: center;
}

#sharebutton, #unsharebutton {
    white-space: nowrap;
}

#unsharebutton {
    margin-right: 0.4em;
}

#sendselect {
    margin-right: 0.4em;
    text-align-last: center;
    width: 8em;
}

#requestselect {
    text-align-last: center;
    width: 8em;
}

#chatbox {
    height: 100%;
    position: relative;
}

#chat {
    background-color: #F8F8F8;
    background-size: cover;
    border: none;
    border-right: 4px solid #E6E6E6;
    /* force to fill height */
    height: 100% !important;
    margin: 0;
    min-width: 300px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0;
    width: 100%;
}

#inputform {
    display: flex;
}

#box {
    height: calc(100% - 53px);
    overflow: auto;
    padding: 10px;
}

.close-chat {
    border: 1px solid transparent;
    color: #8F8F8F;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    right: 14px;
    text-align: center;
    top: 2px;
    width: 25px;
}

.close-chat:hover, .close-chat:active {
    border: 1px solid #DFDFDF;
    border-radius: 4px;
}

#connectbutton {
    margin-top: 1em;
    padding: 0.37rem 1.5rem;
}

#input {
    border: none;
    overflow-y: hidden;
    resize: none;
    width: 100%;
}

#input:focus {
    outline: none;
}

#inputbutton:focus {
    outline: none;
}

#resizer {
    margin-left: -4px;
    width: 4px;
    z-index: 1000;
}

#resizer:hover {
    cursor: ew-resize;
}

#peers {
    background-size: cover;
    bottom: 0;
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    height: auto;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 0;
    row-gap: 5px;
    top: 0;
    vertical-align: top!important;
    width: auto;
    z-index: 1000;
}

.peer {
    background: #80808014;
    border: 2px solid rgba(0,0,0,0);
    margin-bottom: auto;
    margin-top: auto;
    position: relative;
}

.peer-active {
    border: 2px solid #610A86;
}

.media {
    max-height: calc(var(--vh, 1vh) * 100 - 76px);
    object-fit: contain;
    padding-bottom: 20px;
    width: 100%;
}

.media-failed {
    opacity: 0.7;
}

.mirror {
    transform: scaleX(-1);
}

#inputform {
    width: 100%;
}

.sidenav {
    background-color: #4D076B;
    box-shadow: 0 0 24px 0 rgba(71,77,86,.1), 0 1px 0 0 rgba(71,77,86,.08);
    display: block;
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 0px;
    /* on top of everything */
    z-index: 2999;
}

.sidenav a {
    color: #DBD9D9;
    display: block;
    font-size: 30px;
    line-height: 1.0;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #C2A4E0;
}

.sidenav .closebtn {
    cursor: pointer;
    height: 56px;
    position: absolute;
    right: 0;
    top: 0;
}

.sidenav-label {
    display: block;
    margin-top: 15px;
}

.sidenav-label-first {
    display: block;
    margin-top: 0;
}

.sidenav form{
    margin-top: 15px;
}

.sidenav-header {
    height: 56px;
}

.sidenav-header h2{
    color: #FFF;
    line-height: 36px;
    margin: 0;
    max-width: 70%;
    padding: 10px;
}

.sidenav-content {
    background: #FFF;
    height: 100%;
    padding: 10px;
}

.sidenav-content h2 {
    margin: 0;
}

fieldset {
    border: 1px solid #E9E8E8;
    border-radius: 4px;
    margin: 0;
    margin-top: 20px;
    padding: 8px;
}

legend {
    color: #4D4F51;
    padding: 2px;
}

.nav-menu {
    margin: 0;
    padding: 0;
}

.nav-menu li {
    float: left;
    list-style: none;
    max-height: 70px;
}

.show-video {
    background: #600AA0;
    border-radius: 30px;
    bottom: 120px;
    box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.16);
    color: white;
    display: none;
    font-size: 150%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 30px;
    text-align: center;
    width: 50px;
}

.blink {
    -ms-animation: blink 1.0s linear infinite;
    -o-animation: blink 1.0s linear infinite;
    animation: blink 1.0s linear infinite;
}

@keyframes blink {
    0% { box-shadow: 0 0 15px #600AA0; }
    50% { box-shadow: none; }
    100% { box-shadow: 0 0 15px #600AA0; }
}

@-webkit-keyframes blink {
    0% { box-shadow: 0 0 15px #600AA0; }
    50% { box-shadow: 0 0 0; }
    100% { box-shadow: 0 0 15px #600AA0; }
}

/*   Dropdown Menu */

.dropbtn {
    cursor: pointer;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    background-color: #FFF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
    margin-top: 7px;
    max-width: 300px;
    min-width: 200px;
    overflow: auto;
    padding: 15px;
    position: absolute;
    right: 7px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown a:hover {background-color: #DDD;}

.show {display: block;}

.dropdown-content label{
    display: block;
    margin-top: 15px;
}

/*  END Dropdown Menu */

/*  Sidebar left */

.svg-inline--fa {
    color: #DBD9D9;
    display: inline-block;
    font-size: inherit;
    height: 1.2em;
    overflow: visible;
    vertical-align: -.125em;
}

.svg-inline--fa:hover {
    color: #C2A4E0;
}

#left-sidebar {
    background: #FFFFFF;
    border-right: 1px solid #DCDCDC;
    max-width: 200px;
    min-width: 200px;
    transition: all 0.3s;
    z-index: 1039;
}

#left-sidebar .galene-header {
    display: inline-block;
}

header .collapse {
    cursor: pointer;
    float: left;
    margin-left: 5px;
    margin-right: 20px;
    padding-top: 5px;
    text-align: center;
}

.galene-header {
    color: #DBD9D9;
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 34px;
}

.header-sep {
    height: 20px;
}

/* Shrinking the sidebar from 200px to 60px and center aligining its content*/

#left-sidebar.active {
    margin-left: -60px !important;
    max-width: 60px;
    min-width: 60px;
    text-align: center;
}

#left-sidebar .sidebar-header strong {
    display: none;
}

#left-sidebar.active .sidebar-header h3 {
    display: none;
}

#left-sidebar.active .sidebar-header strong {
    display: block;
}

#users {
    background-color: #FFF;
    border: 1px solid #F7F7F7;
    display: block;
    height: calc(100% - 84px);
    margin: 0;
    overflow-y: auto;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

#users .user-p {
    border-bottom: 1px solid #F0F0F0;
    cursor: pointer;
    height: 40px;
    line-height: 18px;
    margin: 0 !important;
    overflow: hidden;
    padding: 10px !important;
    position: relative;
    white-space: pre;
}

#left-sidebar.active #users > div {
    padding: 10px 5px !important;
}

#users > div:hover {
    background-color: #F2F2F2;
}

#users > div::before {
    color: #20B91E;
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
}

.close-icon {
    display: inline-block;
    font: normal 1em/1 Arial, sans-serif;
}

.close-icon:before{ content: "\2715"; }

/* END Sidebar Left */

@media only screen and (max-device-width: 1024px) {

    #presentbutton, #unpresentbutton {
        width: auto;
    }

    .nav-link {
        line-height: 1.5;
        margin: 0 4px;
    }

    .nav-link label {
        display: none;
    }

    .nav-text {
        display: none;
    }

    .nav-more {
        margin-left: inherit;
        padding-top: 0;
    }

    .full-width {
        height: calc(var(--vh, 1vh) * 100 - 56px);
    }

    .collapse-video {
        left: inherit;
        right: 60px;
    }

    .close-chat {
        display: none;
    }

    .video-container {
        height: calc(var(--vh, 1vh) * 100 - 56px);
        left: 0;
        margin-bottom: 60px;
        position: fixed;
        right: 0;
        top: 56px;
    }

    .login-container {
        background: #EFF3F9;
        height: calc(var(--vh, 1vh) * 100 - 56px);
        left: 0;
        position: fixed;
        right: 0;
        top: 56px;
    }

    .login-box {
        background: transparent;
    }

    .coln-left {
        flex: 100%;
        width: 100vw;
    }

    .coln-right {
        flex: none;
        position: relative;
    }

    .full-width {
        width: 100vw;
    }

    #left-sidebar.active {
        max-width: 200px;
        min-width: 200px;
    }

    #left-sidebar {
        margin-left: -60px !important;
        max-width: 60px;
        min-width: 60px;
        text-align: center;
    }

    /* Reappearing the sidebar on toggle button click */

    #left-sidebar {
        margin-left: 0;
    }

    #left-sidebar .sidebar-header strong {
        display: none;
    }

    #left-sidebar.active .sidebar-header h3 {
        display: none;
    }

    #left-sidebar.active .sidebar-header strong {
        display: block;
    }

    .sidenav a {padding: 10px 10px;}

    .sidenav-header h2 {
        line-height: 36px;
    }

    #peers {
        padding: 3px;
    }

    #resizer {
        display: none;
    }

    #chat {
        border-right: none;
    }

    .dropdown-content {
        margin-top: 10px;
    }

}
