.presence {
    display: flex;
    flex-direction: column;

    & header {
        align-items: center;
        background: var(--grey-400);
        border-bottom: var(--border) solid var(--grey-300);
        display: flex;
        font-weight: bold;
        height: var(--space-4);
        padding: var(--spacer);
        position: relative;

        & svg {
            color: var(--primary-color);
            margin-right: var(--spacer);
        }

        & .version {
            bottom: 0;
            font-size: var(--text-small);
            position: absolute;
            right: var(--spacer);
        }
    }

    & .item {
        align-items: center;
        display: flex;
        padding: var(--spacer);

        & .item-icon {
            margin-right: var(--spacer);

        }

        & .name {
            color: var(--grey-50);
            flex: 1;
            font-weight: bold;

            &.active {
                color: var(--primary-color);
            }
        }

    }
}