@import "./buttons";
@import "./fonts";

.theme-dark {
    --primary-color: #4CADE7;
    --secondary-color: rgb(0, 105, 217);
    --info-color: #9DDC4B;
    --warning-color: #AF702D;
    --error-color: #CB6C4D;

    --text-color: #221713;

    --grey-500: #221713;
    --grey-400: #342824;
    --grey-300: #433732;
    --grey-200: #5E514C;
    --grey-100: #B1A29D;
    --grey-50: #E1D1CB;
    --grey-0: #FFF;

    background: var(--grey-500);
    color: var(--text-color);
}

:root {
    --text-small: 0.7rem;
    --text-base: 1rem;
    --text-large: 1.1rem;
    --text-huge: 1.7rem;

    --border: 2px;
    --gutter: 8px;
    --unit: 32px;
    --spacer: 16px;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    outline: none;
}

a {
    color: var(--primary-color);
}

input {
    height: var(--unit);
}

textarea {
    height: var(--unit);
    padding: 0;
    resize: none;

    &:focus {
        outline: none;
    }
}

.icon {
    fill: var(--primary-color);
    height: 40px;
    width: 40px;

    &.icon-large {
        height: 50px;
        width: 50px;
    }
}