@import "./buttons";
@import "./content";
@import "./fonts";
@import "./forms";
@import "./presence";

.theme-dark {
    --primary-color: #98eb45;

    --info-color: #9ddc4b;
    --warning-color: #af702d;
    --error-color: #cb6c4d;

    --grey-500: #2a1f1b;
    --grey-400: #342824;
    --grey-300: #433732;
    --grey-200: #5e514c;
    --grey-100: #b1a29d;
    --grey-50: #e1d1cb;
    --grey-0: #fff;

    background: var(--grey-500);
    color: var(--grey-100);
}

:root {
    --text-small: 0.8rem;
    --text-base: 1rem;
    --text-large: 1.1rem;
    --text-huge: 1.5rem;

    --border: 2px;
    --spacer: 8px;
    --space-4: calc(var(--spacer) * 8);
    --space-3: calc(var(--spacer) * 6);
    --space-2: calc(var(--spacer) * 4);
    --space-1: calc(var(--spacer) * 2);
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    outline: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

textarea {
    height: var(--unit);
    padding: 0;
    resize: none;

    &:focus {
        outline: none;
    }
}

.icon {
    fill: currentColor;
    height: 40px;
    width: 40px;

    &.icon-mini {
        height: var(--space-1);
        width: var(--space-1);
    }

    &.icon-small {
        height: var(--space-2);
        width: var(--space-2);
    }

    &.icon-small {
        height: var(--space-2);
        width: var(--space-2);
    }

    &.icon-large {
        height: 50px;
        width: 50px;
    }
}

button {
    border: 0;
}

::selection {
    background: var(--primary-color);
    color: var(--grey-500);
}