.tabs {
    background: var(--grey-500);
    display: flex;
    margin: 0;
    padding: 0;

    & .tab {
        align-items: center;
        background: none;
        border-left: 0;
        border-right: 0;
        display: flex;
        height: var(--space-4);
        justify-content: center;
        width: var(--space-4);

        &.active {
            border-bottom: var(--border) solid var(--primary-color);
            color: var(--primary-color);
        }

        &.disabled {
            opacity: 0.3;

            &:hover {
                cursor: not-allowed;
            }
        }
    }
}

.tab-content {
    display: none;

    &.active {
        display: block;
    }
}
