.presence {
    display: flex;
    flex-direction: column;

    .actions {
        padding: var(--spacer);

        .icon {

            &:hover {
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }


    .item {
        align-items: center;
        display: flex;
        padding: calc(var(--spacer) / 2) var(--spacer);

        .item-icon {
            align-items: center;
            color: var(--primary-color);
            display: flex;
            margin-right: var(--spacer);
        }

        .name {
            align-items: center;
            color: var(--grey-7);
            display: flex;
            flex: 1;
            font-family: var(--font-secondary);
            font-weight: 600;
            line-height: 100%;

            &.active {
                color: var(--primary-color);
            }
        }

    }
}