.table {
    display: flex;
    flex-direction: column;

    > div {
        padding: var(--spacer);
        div:first-child {flex: 0.5;}
        div:nth-child(2) {flex: 1;}
    }

    .header {
        background: var(--grey-2);
        color: var(--primary-color);
        display: flex;
        font-family: var(--font-secondary);
        width: 100%;
    }

    .row {
        display: flex;
        width: 100%;

        &:nth-child(even) {
            background: var(--grey-3);

            &:hover {
                background: var(--primary-color);
                color: var(--grey-1);
                cursor: pointer;
            }
        }

        &:nth-child(odd) {
            background: var(--grey-4);

            &:hover {
                background: var(--primary-color);
                color: var(--grey-1);
            }
        }
    }
}