@import "./css/fontawesome.min";
@import "./css/solid";
@import "./css/regular";
@import "./css/galene";

h1 {
    font-size: 160%;
}

.inline {
    display: inline;
}

.signature {
    border-top: solid;
    border-width: thin;
    clear: both;
    height: 3.125rem;
    padding-top: 0;
    text-align: center;
}

body, html {
    height: 100%;
}

body {
    background-color: #EFF3F9;
    color: #687281;
    font-family: Metropolis,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    overflow-x: hidden;
    text-align: left;
}

*, :after, :before {
    box-sizing: border-box;
}

textarea {
    font-family: Metropolis,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}


#app {
    --primary-color: rgb(97, 10, 134);
    --secondary-color: rgb(0, 105, 217);
    --info-color: #9DDC4B;
    --warning-color: #AF702D;
    --error-color: #CB6C4D;

    --grey-500: #221713;
    --grey-400: #342824;
    --grey-300: #433732;
    --grey-200: #5E514C;
    --grey-100: #B1A29D;
    --grey-50: #E1D1CB;
    --grey-0: #FFF;
}

:root {
    --text-small: 0.7rem;
    --text-base: 1rem;
    --text-large: 1.1rem;
    --text-huge: 1.7rem;

    --border: 2px;
    --gutter: 8px;
    --spacer: 16px;
}
