.presence {
    display: flex;
    flex-direction: column;

    header {
        align-items: center;
        background: var(--grey-500);
        border-bottom: var(--border) solid var(--grey-300);
        display: flex;
        font-weight: bold;
        height: var(--space-4);
        margin-bottom: var(--spacer);
        position: relative;

        svg {
            color: var(--primary-color);
            margin-right: var(--spacer);
        }

        .version {
            bottom: 0;
            font-size: var(--text-small);
            position: absolute;
            right: var(--spacer);
        }
    }

    .item {
        align-items: center;
        display: flex;
        padding: calc(var(--spacer) / 2) var(--spacer);

        .item-icon {
            align-items: center;
            color: var(--primary-color);
            display: flex;
            margin-right: var(--spacer);
        }

        .name {
            align-items: stretch;
            color: var(--grey-50);
            display: flex;
            flex: 1;
            font-family: var(--font-secondary);
            font-weight: 600;
            line-height: 100%;

            &.active {
                color: var(--primary-color);
            }
        }

    }
}